div(ng-include='components/navbar/navbar.html')

header.t-banner.hero-unit
  .container
    h1 todos
    p.lead you don't have to remember everything, when you write it down ;-)
    span.t-banner__logo.glyphicon.glyphicon-check

form.t-input-form
  .form-group.col-xs-12.col-sm-offset-1.col-sm-10
    input.form-control(name='text' type='text' placeholder='What needs to be done ?')

.row
  .col-lg-12
    ul.t-todo-list.nav.nav-tabs.nav-stacked.col-xs-12.col-sm-offset-1.col-sm-10
      li(ng-repeat='thing in awesomeThings')
        a(href='#', tooltip='{{thing.info}}')
          | {{thing.name}}

footer.footer
  .container
    p
      a(href='https://sk.linkedin.com/pub/kumor-andrej/32/360/751' target='blank') @kumorko