@defaultColor: #4393B9;

.t-banner {
    border-bottom: none;
    margin-top: -20px;
}


.t-banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

    .t-banner__logo {
        font-size: 50px;
    }

    .t-counter {
        font-size: 20px;
        margin: 10px 0 0 0;
    }

        .t-counter__number {
            margin: 0 0 0 3px;
        }

        .t-counter__done {
            margin: 0 0 0 15px;
        }


.t-input-form {
    margin: 20px 0;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: @defaultColor;
}


.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}